body{
    background: repeating-linear-gradient(
        135deg,
        rgb(221, 221, 221),
        rgb(221, 221, 221) 10px,
        rgb(205, 204, 204) 10px,
        rgb(205, 204, 204) 20px
    );
}

.modalColourPicker{
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 20px;
    justify-content: center;
    margin: auto 0;
}

.modalColourPicker input{
    appearance: none;

    width: 80px;
    height: 80px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid;
    border-color: rgba(0, 0, 0, 0.2);

    transition: transform 0.2s ease;
}

.modalColourPicker input:hover{
    transform: scale(1.1);
}

.modalColourPicker input:checked{
    border-color: black;
}

#noteYellow{
    background-color: rgb(255, 242, 0);
}

#noteBlue{
    background-color: cyan;
}

#noteRed{
    background-color: rgb(255, 128, 128);
}

#noteGreen{
    background-color: rgb(107, 225, 107);
}

#notePink{
    background-color: pink;
}

#noteWhite{
    background-color: white;
}

.note{
    background-color: rgb(255, 242, 0);
    color: rgb(0, 0, 0);
    touch-action: none;
    user-select: none;
    text-align: center;
    font-size: large;
    border-radius: 20px;
    box-sizing: border-box;
    width: 200px;
    height: 180px;
    position: absolute;
    user-select: none;
    border-color: black;
    border-width: 3px;
    border-style: solid;
    overflow: visible;
    padding: 5px;
}

.image{
    position: absolute;

    display: inline-block;
    width: max-content;
    height: auto;

    background: black;

    user-select: none;

    border-color: white;
    border-width: 5px;
    border-style: solid;
}

.image img:not(.smallIcon){
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.draggable:focus{
    background-color: rgb(235, 223, 0);
}

.text-clipping{
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.sideBar{
    width: 100px;
    flex-shrink: 0;
    background-color: rgb(255, 245, 194);
    box-sizing: border-box;
    border-color: brown;
    border-style: solid;
    border-width: 5px;
}

.sideButton{
    display: block;
    overflow: auto;
    margin: 0;
    cursor: pointer;
    user-select: none;
    width: 80px;
    margin: 5px;
    background-color: white;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
}

.sideButtonActive{
    border-color: transparent; 
    background-image:   linear-gradient(to right, black 50%, transparent 50%),
                        linear-gradient(to right, black 50%, transparent 50%),
                        linear-gradient(to bottom, black 50%, transparent 50%),
                        linear-gradient(to bottom, black 50%, transparent 50%);
    background-size: 21px 3px, 21px 3px, 3px 21px, 3px 21px;
    background-position: 0 0, 0 100%, 0 0, 100% 0;
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;

    animation: activeAnimation 1s linear infinite;
}

@keyframes activeAnimation {
    to{
        background-position: 20px 0, -20px 100%, 0 -20px, 100% 20px;
    }
}

.icon{
    height: 100%;
    width: 100%;
}

.smallIcon{
    height: 80%;
    width: 80%;
}

.smallIconConnect{
    height: 100%;
    width: 100%;
    margin-top: 10%;
}

.sideButton:hover{
    background-color: antiquewhite;
}

.deleteButton{
    border-radius: 50%;
    position: absolute;
    top: -20px;
    left: 20px;
    border-color: black;
    border-width: 3px;
    border-style: solid;
    padding: 0;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    transition: opacity 0.3s ease-in-out;

    width: 30px !important;
    height: 30px !important;
    transform: scale(1) !important;
    flex: none !important;
}

.editButton{
    border-radius: 50%;
    position: absolute;
    top: -20px;
    left: 80px;
    border-color: black;
    border-width: 3px;
    border-style: solid;
    padding: 0;
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    transition: opacity 0.3s ease-in-out;

    width: 30px !important;
    height: 30px !important;
    transform: scale(1) !important;
    flex: none !important;
}

.connectButton{
    border-radius: 50%;
    position: absolute;
    top: -20px;
    left: 50px;
    border-color: black;
    border-width: 3px;
    border-style: solid;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    transition: opacity 0.3s ease-in-out;

    width: 30px !important;
    height: 30px !important;
    transform: scale(1) !important;
    flex: none !important;
}

/* Change styles when mouse hover or keyboard focus is within the note/buttons */
.draggable:hover .deleteButton,
.draggable:focus-within .deleteButton,
.image:hover .deleteButton,
.image:focus-within .deleteButton{
    opacity: 1;
}

.deleteButton:hover,
.deleteButton:focus-within{
    background-color: rgb(190, 0, 0);
}

.draggable:hover .editButton,
.draggable:focus-within .editButton{
    opacity: 1;
}

.editButton:hover,
.editButton:focus-within{
    background-color: rgb(190, 123, 0);
}

.draggable:hover .connectButton,
.draggable:focus-within .connectButton,
.image:hover .connectButton,
.image:focus-within .connectButton{
    opacity: 1;
}

/* for initially hidden content */
.hidden{
    display: none !important; /* Important ensures modal's display attribute values don't overwrite this */
}

.string{
    stroke: darkred;
    stroke-width: 3;
    stroke-linecap: round;
}

.cutLine{
    stroke: darkred;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-dasharray: 5px;
}

.corkdrag.dragging,
.corkdrag.dragging * {
    cursor: crosshair !important;
}

.modalButton{
    width: 60px;
    height: 60px;
    border-radius: 25px;
    border: 3px solid black;
    cursor: pointer;

    display: inline-flex;
    align-items: center;
}

#cancelNoteEditButton, #cancelClear{
    background-color: rgb(255, 128, 128);
}

#applyNoteEditButton, #acceptClear{
    background-color: rgb(107, 225, 107);
}

.modalButton svg{
    width: 40px;
    height: 40px;
    pointer-events: none;
}

#corkboard{
    position: relative;
    height: 5000px;
    width: 5000px;
    background-color: beige;
    flex-grow: 1;
    border-style: solid;
    border-width: 5px;
    border-color: brown;

    touch-action: none;

    background-image: conic-gradient(rgba(0, 0, 0, 0.04) 25%, transparent 25% 50%, rgba(0, 0, 0, 0.04) 50% 75%, transparent 75%);
    background-size: 15px 15px;
    background-attachment: local;
}

#inertiaButton{
    background-color: rgb(0, 202, 0);
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
}

#inertiaCorkboardButton{
    background-color: red;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
}

#cutButton{
    background-color: red;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
}

#example{
    left: 400px;
}

#example2{
    left: 650px;
}

/* Modal backdrop colour */
#modalOverlay, #clearConfirmation{
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#editNoteBox, #confirmationNoteBox{
    background-color: rgb(255, 252, 190);
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: large;
    border-radius: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 30vw;
    min-width: 320px;
    height: auto;
    border-color: black;
    border-width: 3px;
    border-style: solid;
    overflow: visible;
    padding: 20px;
}

#modalTextInput{
    width: 90%;
    height: 100px;
    resize: none;
    margin: 10px;
    border: 2px solid black;
    border-radius: 8px;
}

#viewport{
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

#string{
    position: absolute;
    top: 0;
    left: 0;
    width: 5000px;
    height: 5000px;
    pointer-events: none;
    z-index: 0;
    transform-origin: 0 0;
}

#zoomSpace{
    transform-origin: 0 0;
    width: 100%;
    height: 100%;
}

/* Built in resizing for text-area is disabled as it only works from the bottom right corner. We handle resizing and dragging simultaneously using interact.js */
textarea{
    resize: none;
}

html, body{
    height: 100%;
    margin: 0;
    overflow: hidden;
}

body{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}